.registration-comp{
    margin-top:30px;
}
.progress-bar-div{
    width:98%;
    margin-left: 1%;
    height: 16px;
}

.progress-active{
    width: 20px;
    height: 20px;
    border: 5px solid rgb(184, 184, 184);
    background-color: #ffff;
    border-radius: 100px;
}

.active-color{
    transition: 3s;
    background-color: #004794;
    border: 5px solid #61adfd;
}

#progress-zero{
    position: relative;
    bottom: 18px;
    right: 6px;
}

#progress-one{
    position: relative;
    left:33.3%;
    bottom: 38px;
}

#progress-three{
    position: relative;
    left: 66.6%;
    bottom: 58px;
}

#progress-four{
    position: relative;
    left: 99%;
    bottom: 78px;
}

@media (max-width:1000px) {
    #progress-four{
        left: 98%;
    }
}

@media (max-width:426px) {
    #progress-four{
        left: 95.5%;
    }
}

@media (max-width:376px) {
    #progress-four{
        left: 95%;
    }
}

@media (max-width:321px) {
    #progress-four{
        left: 94%;
    }
}